.page-masthead .row-feature.row-feature-primary {
	background: url("../images/imcpro_bg.png") no-repeat 50% 100% #9a9a9a;
}
.layout-purity_iiifeatures-intro p {font-size: 18px;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox {
	height: auto;
}

input.input-large-text {
    font-size: 18px;
    height: auto;
}
input.input-xxlarge {
    width: 100%;
}
textarea.full-width {
    width: 100%;
}
input.full-width {
    width: 100%;
}

/* skip to content/submenu */
a.skip-main, a.skip-submenu {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active,
a.skip-submenu:focus, a.skip-submenu:active
{
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 5px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid #8ACFC7;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}